.container-1 *{
    padding: 0;
    margin: 0;
}

.container-1{
    margin: 0 60px ;
}

.container-1 h1{
    font-style: italic;
    text-align: center;
    opacity: 55%;
    font-weight: 300;
    font-family: Helvetica;
    line-height: 92px;
    font-size: 80px;
    margin-bottom: 50px;
}

.img-1{
    position: absolute; 
    float: left;
    border: 2px solid rgba(103, 164, 199, 0.4);
    box-sizing: border-box;
    padding-right: 30px;
    padding-bottom: 30px;
}

.img-2{
    float: left;
}

.clear{
    clear: both;
}

.text-1, .text-2, .text-3{
    margin-left: 450px;
    font-family: Helvetica;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px; 
    opacity: 55%;
}

.button-1, .button-2{
    background: rgba(103, 164, 199, 0.4);
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    padding: 15px 30px;
    display: inline-block;
    margin: 64px 95px 95px 800px;
    color: #FFFFFF;
}

.img-3{
    float: left;
    position: absolute; 
    border: 2px solid rgba(103, 164, 199, 0.4);
    box-sizing: border-box;
    padding-right: 30px;
    padding-bottom: 30px;
}

