header {
  position: absolute;
  width: 1550px;
  height: 650px;
  top: 0px;
  left: 0px;
  background: rgba(103, 164, 199, 0.4);
}

.col-1 {
  position: absolute;
  left: 50px;
  top: 23px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 80px;
  color: #FFFFFF;
}

.col-3 {
  position: absolute;
  left: 77px;
  top: 213px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 120px;
  color: #FFFFFF;
}

.col-4 {
  position: absolute;
  left: 77px;
  top: 349px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  color: #FFFFFF;
}

.girl {
  background: url(../imgs/girl.png);
  position: absolute;
  width: 335px;
  height: 498px;
  left: 1100px;
  top: 152px;
}

.col-2 {
  position: absolute;
  left: 328px;
  top: 55px;
  font-family: Helvetica;
  font-size: 24px;
  line-height: 28px;
}

.Programms {
  position: absolute;
  top: 800px;
}


/*# sourceMappingURL=styles.css.map */